# Node dependencies
node_modules/

# Build output
dist/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Environment files
.env

# Editors
.vscode/
.DS_Store

/generated/prisma
